{% extends 'layout.html' %}
{% block body %}
<div class="dashboard">
  <nav aria-label="Page navigation example">
    <br>
    <br>
    <br>
  <ul class="pagination justify-content-center">
    <li class="page-item"><a class="page-link" href="/adddata/insertplayer">Players</a></li>
    <li class="page-item"><a class="page-link" href="/adddata/insertcoach">Coaches</a></li>
    <li class="page-item"><a class="page-link" href="/adddata/insertowner">Owners</a></li>
    <li class="page-item"><a class="page-link" href="/adddata/insertmvp">MVP</a></li>
    <li class="page-item"><a class="page-link" href="/adddata/insertdpoy">DPOY</a></li>
    <li class="page-item"><a class="page-link" href="/adddata/insertchampion">Champion</a></li>
  </ul>
</nav>
{% endblock %}